* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.details-list {
  list-style:  square;
  padding: 0.5em 1em;
}
ul.details-list > li {
  padding: 0.2em 0;
}

#container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  top: 4em;
  position: relative;
}

.section {
  margin: 0.5em 1em;
  border: 1px solid;
}

.education-details {
  margin: 0.5em;
}

header {
display: block;
font-size: 32px;
font-weight: 600;
text-align:center;
background-color: #000000;
color: #ffffff;
position: fixed;
width: 100%;
line-height: 2;
left: 0;
right: 0;
z-index: 2;
}

.section-header {
background-color: #000000;
color: #ffffff;
padding-left: 5px;
line-height: 1.5em;
}

.content {
  padding: 1em;
}
.flex-box {
  display: flex;
  flex-direction: column;
  column-gap: 0.2em;
}

.flex-box > span {
  padding: 0.2em 0;
}

.info-label {
  font-weight: 600;
}

#address {
  margin: 1em;
}

.education-details {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

footer {
  line-height: 5em;
  background-color:#000000;
  text-align: center;
  color: #ffffff;
  margin-top: 5em;
}


/* Media queries */
@media only screen and (max-width: 400px) {
#name {
  font-size: 15px;
}
}